langchain_community 
tiktoken  
langchainhub  
langchain 
langgraph  
tavily-python
python-dotenv
google-generativeai
langchain-google-genai
langchain-groq
langchain-nomic
langchain-text-splitters

wikipedia
langchain_huggingface
google-search-results
faiss-cpu
sentence_transformers