langchain_community 
tiktoken  
langchainhub  
langchain 
langgraph  
tavily-python
python-dotenv
langchain-groq
langchain-nomic
langchain-text-splitters

google-search-results
faiss-cpu
sentence_transformers
cfenv
langchain_openai